.searchbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .searchInput {
    font-size: 16px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .searchInput:focus {
    border-color: #0077cc;
  }
  
  .searchButton {
    font-size: 16px;
  background-color: #0077cc;
  color: white;
  padding: 8px 12px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  }
  
  .searchButton:hover {
    background-color: #005fa3;
  }
  