/* src/App.css */

:root {
  --background-color: #282c34;
  --text-color: #ffffff;
  --header-background: #1c2025;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  text-align: center;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  background-color: var(--header-background);
  padding: 1rem;
  color: var(--text-color);
  width: 100%;
  text-align: center;
}

.App-header h1 {
  margin-bottom: 0.5rem;
}

.App-header p {
  margin-top: 0;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
}
